[submodule "vendor/lyric-kit"]
	path = vendor/lyric-kit
  branch = dev-mo
	url = https://github.com/MoYingJi/lyric-kit.git
[submodule "vendor/applemusic-like-lyrics"]
	path = vendor/applemusic-like-lyrics
	url = https://github.com/amll-dev/applemusic-like-lyrics.git
[submodule "vendor/lyric-dom"]
	path = vendor/lyric-dom
	url = https://github.com/SPlayer-Dev/lyric-dom.git
